{{#if errorMessage}}
    <div class="container">
        <p>{{errorMessage}}</p>
    </div>
{{/if}}

<form action="/new-password" method="POST">
    <h1>Установка нового пароля</h1>
    <div class="mb-3">
        <label for="password" class="form-label">Новый пароль</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль" required>
    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="passwordToken" value="{{passwordToken}}">
    <input type="hidden" name="userId" value="{{userId}}">

    <button type="submit" class="btn btn-primary">Сбросить</button>
</form>